*{
	padding: 0px;
	margin: 0px;
}
.root {
	--cor-fundo:#FFBB99;
	--cor-texto:#000000;
}

.header {
	width: 1623px;
	height: 200px;
	top: -27px;
	position: absolute;
	background: linear-gradient(100% #FFC47F #E8C7B5);
}